default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.3
    hooks:
      - id: ruff
        types: [python]
        exclude: docs/
      - id: ruff-format
        types: [python]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        types: [python]
        exclude: docs/

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    - id: fmt
    - id: cargo-check

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    - id: fmt
    - id: fmt

  - repo: https://github.com/python-poetry/poetry
    rev: "1.8.0"
    hooks:
    - id: poetry-check
    - id: poetry-install
    - id: poetry-lock
    - id: poetry-export
      args: ["-f", "requirements.txt", "-o", "./requirements.txt"]
